body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .heading{
      text-align: center;
      margin-top: 50px;
      color: black;
  }
  .containter{
      display: flex;
  }
  *{
    box-sizing: border-box;
  }
  .left{
      width: 15%;
      text-align: center;
      background: #2A72DE;
  }
  .right{
      width: 85%;
      padding: 30px;
      background:white; 
   
  }
  h1,h4{
      text-align: center;
      color: #fff;
  
  }
  .menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul.menu li {
    padding: 10px 0;
    border-bottom: 1px solid #FFFFFF;
  }
  Link{
    padding: 10px 0;
    border-bottom: 1px solid #FFFFFF;
  }
  ul.menu li a{
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
  }
  ul.menu li a:hover{
    color: #54220589;
  }
  :link:hover{
    color: #2A72DE;
  }
  label {
    display: inline-block;
    width: 150px;
    text-align: center;
  }
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #ea6a1b;
      text-align: center;
      padding: 8px;
      color: #fff;
    }
    tr:nth-child(even) {
      background-color: #d6e9d5;
    }
    tr:nth-child(odd) {
      background-color: #2A72DE;
    }
    
    
    
  